// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";

body {
  background-color: #F7F8F9;
  text-align: center;
}

footer {
  padding: 25px 0;
  margin: 25px 0 0 0;
  text-align: center;
  background-color: #DBD4D1;
}

.sample {
  position: relative;
}

.sample p {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  font-size: 35px;
}

#target {
  width: 315px;
  text-align: center;
}

#preview {
  white-space: pre;
  line-height: 1em;
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.share_btn{
    display: inline-block;
    text-decoration: none;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 23px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
    transition: .3s;
}
.share_btn .fa{
    line-height: 50px;
}
.share_btn:hoverã€€{
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.28);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

.up {
  color: #49a8fb;
  background-image: -webkit-linear-gradient(#d2efff 0%, #76befb 100%);
  background-image: linear-gradient(#d2efff 0%, #76befb 100%);
}

.size {
  color: #6183f3;
  background-image: -webkit-linear-gradient(#b5d3ff 0%, #6b8bff 100%);
  background-image: linear-gradient(#b5d3ff 0%, #6b8bff 100%);
}

.vertical {
  color: #ff6d82;
  background-image: -webkit-linear-gradient(#ffcfd7 0%, #ff7285 100%);
  background-image: linear-gradient(#ffcfd7 0%, #ff7285 100%);
}

.font-color {
  color: #ea4158;
  background-image: -webkit-linear-gradient(#ffa8a8 0%, #ff5d5d 100%);
  background-image: linear-gradient(#ffa8a8 0%, #ff5d5d 100%);
}

.share_btn2{
  display: inline-block;
  text-decoration: none;
  width: 200px;
  margin:2px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color:white;
  border-radius: 12px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: .3s;
}
.share_btn2 .fa {line-height:50px}
.share_btn2:hover{
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}
.share_btn2.share {background: #22b8ff;}

#loading {
  display: table;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.8;
}

#loading .loadingMsg {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-top: 140px;
  background: image-url("gif-load.gif") center center no-repeat;
}
