<div class="container">
  <a href='https://note.mu/ysk1180/n/n7f01daf0788c' target="_blank">BigTweetが作れる!BigTweetチュートリアル2</a>
  <%= link_to '利用規約', terms_path %>
  <%= link_to 'プライバシーポリシー', privacy_path %>
  <a href="https://twitter.com/ysk_pro" target="_blank">開発者Twitterアカウント</a>
</div>
