<div class="container">
  <a href="https://ysk-pro.hatenablog.com/entry/bigtweet" target="_blank">サービス紹介ブログ</a>
  <a href='https://note.mu/ysk1180/n/n551cafc1f8e1' target="_blank">BigTweetチュートリアル</a>
  <%= link_to '利用規約', terms_path %>
  <%= link_to 'プライバシーポリシー', privacy_path %>
  <a href="https://twitter.com/ysk_pro" target="_blank">開発者Twitterアカウント</a>
</div>
